<div class="center jumbotron">
  <%= link_to image_tag("mamawolf_logo_grande.png", alt: "Mama Wolf Logo"), 'https://www.facebook.com/mamawolfmx/?fref=ts' %></br>

  <%= link_to "Iniciar Sesión", '#', class: "btn btn-lg btn-primary", id: "btn-home"%>
  <%= link_to "Sign Up", signup_path, class: "btn btn-lg btn-primary", id: "btn-home"%>
  <p>
    Necesitas iniciar sesión para utilizar esta página.
  </p>

</div>
