<h3>Devoluciones:</h3>
<table id="products" class="table table-striped table-bordered" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Codigo</th>
      <th>Descripción</th>
    </tr>
  </thead>
  <tbody>
  <% @devolutions.each do |devolution| %>
    <tr>
      <td><%= devolution.product_code %></td>
      <td><%= devolution.description %></td>
    </tr>
  <% end %>
  </tbody>
</table>
