<footer class="footer">
  <small>
    Made by Papa Wolf.
  </small>
  <nav>
    <ul>
      <li>Contactanos en: <%= link_to "Facebook",'https://www.facebook.com/mamawolfmx/?fref=ts' %>.</li>
    </ul>
  </nav>
</footer>
