<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "mama wolf", root_path, id: 'logo' %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Tiendas", '#' %></li>
        <li><%= link_to "Productos", '#' %></li>
        <li><%= link_to "Remisiones", '#' %></li>
      </ul>
    </nav>
  </div>
</header>
